      
//
// comment
//
#comment
    margin 1.5rem 0 4rem
    padding-bottom 1rem
    position relative
    &:before
        content "Comment:"
        position absolute
        left 5px
        top -35px
        font-size 1.03rem
        color $black

#comment div
    margin left     

.power,.vempty,.col-60
    visibility hidden

.vnick,.veditor,.vmail,.vempty,.vsubmit   
    font-family $font
    font-size 1rem 
    border-bottom 0 !important

.vsubmit      
    background-color #F5F6FA !important
    border 0 !important
    padding 0 3px !important
    color rgba(0,0,0,.5) !important
    font-weight 300 !important
    letter-spacing .3px
    &:hover 
      color $thr-clr !important
.vcard
    padding 5px 0  0 20px !important  


