<% if (post.banner){ %>
<div class="thumb">
    <div class="banner" data-origin="<%- url_for(post.banner) %>"></div>
</div>
<% } else if (post.photos && post.photos.length){ %>
<div class="thumb">
    <% for( i in post.photos){ %>
    <div class="gallery" data-origin="<%- url_for(post.photos[i]) %>"></div>
    <% } %>
</div>
<% } %>

