

.meta-time,.meta-words,.meta-link
	@extend $oneline  
	font-size .85rem  
	color $black
	margin-right 1.5rem
	margin-bottom .4rem


.item	
	font-size 1rem
	overflow hidden
	margin 1.6rem 0
	padding 0 2rem
	
		
.item-date		
	float left
	width 25%
	color $black
	text-align right

.item-title
	float left
	margin-left 5%		
	width 70%	
	font-size 1.1rem	
	&:hover		
		color $thr-clr