
.profile
	border-bottom .5px solid $line-clr
	margin-bottom 3rem 
	padding-bottom 16px
	text-align center		
	& .avatar	
		display block
		width 94px
		height 94px
		padding 4px
		border 1px solid $line-clr
		border-radius 50%  
		box-shadow 0 2px 2px rgba(0,0,0,0.06)	
		&:hover 			
			opacity .9
	& .author
		margin .825rem 0 .25rem 
		text-align center	
		font-size 1.125rem
	& .location
		margin 0
		font-size .8rem
		font-family $time-font 
		color $black  
	& .social
		text-align center
		font-size 1.125rem
		& span			
			@extends $tips-min 	

