
//
// tag 
//

.tag-wrap	
	@extend $tags  
	display inline-block		
	margin .4rem .3rem 	
	padding  2px 12px	
.tag-name
	font-size 0.9rem

.tag-count
	font-size 0.825rem
	

//
// archive
//

.archive-year
	font-size 1.1rem
	margin 2.8rem 3rem 1rem 		
	color rgba(0,0,0,0.65)
	text-align center	
	
	
.archive-item			
	position relative		
	padding .8rem 0 .8rem 1.8rem


.archive-time		
	position  absolute
	left 7.5rem
	top 18px
	font-size .9rem
	line-height 1
	color rgba(0,0,0,.5)
	
		    
.archive-title
	display inline-block
	margin-left 12.5rem	
	& a
		font-size 1.1rem
		letter-spacing 1px
