
.paginator
	position relative
	margin 8rem 0 
	text-align center
	font-size 14px
	color $sub-clr
	height 40px


.prev,.next	
	@extend $fade
	display inline-block
	padding 4px 12px 
	border 1px solid $line-clr
	border-radius 4px
	

.prev  
	position absolute
	left 2px
.next  
	position absolute
	right 2px
	

.page-number
	display inline-block
	min-width 100px
	height 100%
	padding 6px 2px	
	font-size 12px	
	line-height 30px

	