
.paginator
	margin 8rem 0 2rem
	font-size .95rem
	text-align center
	border-top 1px solid $line-clr
	border-bottom 1px solid $line-clr
	
.page-number,.prev,.next	
	display inline-block
	padding 12px 10px 
	margin 0 2px
	line-height 1
   
.extend
	margin 0 8px 
	letter-spacing .8px


.prev  
	float left  
.next  
	float right

.current
	color $thr-clr

.page-number:hover,.extend:hover
	color $gray
	background-color $shallow 

