    
#toc
    padding 1.8em 0    
    position absolute
    width 250px   
    height 100%
    top 18%
    left 79%     
    overflow hidden	
    @media mq-mobile 
      display none
	  
.toc-container
	display none
	width 100%
	height 100%	
	overflow-y auto
.toc-contents
	display block
	text-align center 		
	font-size 1rem
	color rgba(0,0,0,.5)
	cursor pointer	
	&:hover		
		color $thr-clr 

.toc-list
    list-style-type none    
      
.toc-item 
	@extend $oneline	
	font-size .9rem	
	color rgba(0,0,0,.8)
	letter-spacing .5px
	cursor pointer
	&:hover		
		color $thr-clr 		
		 
.toc-subitem 	
	@extend $oneline
	display block
	font-size  .8rem
	color rgba(0,0,0,.6)
	margin 10px 0 10px 12px	
	cursor pointer
	&:hover		
		color  $thr-clr 	

//----------js
.toc-fixed	
	position fixed 
	top 2%
	left 79%	
	height 86%
	
.toc-active		
	color $thr-clr 		
	